.main-nav, .sub-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.main-nav {
    display: flex;
    position: fixed;
    margin-bottom: 4px;
    width: 100%;
}
     
.horizontal.nav-list.full-width {
    display: none;
}
    
.horizontal.nav-list.short-width {
    display: flex;
}
    
.main-nav a {
    padding-bottom: 0;
}
    
.main-nav a:hover {
    border-bottom: 1px solid black;
}
    
@media (min-width: 768px) {
    .horizontal.nav-list.full-width {
        display: flex;
    }
    .horizontal.nav-list.short-width {
        display: none;
    }
    
@media (max-width: 545px) {
    .company-name {
        display: flex;
        width: 20px;
        font-size: 10px;
        }
    }
    
}
    
.material-icons {
    list-style-type: none;
    text-decoration: none;
}
    
.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
    
.nav-list a{
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 10px;
    margin-left: 15px;
    box-shadow: 0 2px 5px 3px rgb(174, 113, 113);
    background-color: black;
    color: red;
}
    
.nav-list li:last-of-type a{
    margin-right: 0px;
    padding-right: 5px;
}
    
.sub-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    padding-top: 10px;
    border-top: 0px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
    
.search-form {
    display: flex;
    width: 100%;
    background-color: rgb(112, 7, 7);
}
    
input, button {
    display: flex;
    padding: 5px;
    border: none;
    margin: 5px;
    color: red;
}
    
button {
    margin-left: 0;
    padding: 10px;
    padding-left: 0;
    margin-bottom: 10px;
    background-color: rgb(112, 7, 7);
}
    
input {
    border-bottom: 3px  rgb(173, 15, 15);
    flex: 1;
    margin-right: 0px;
}
    
input:focus {
    background-color: rgb(173, 15, 15);
}
    
.company-name {
    display: flex;
    color: rgb(77, 77, 198);
    padding-right: 40px;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: monospace;
}
    
.credit-offer {
    background-color: rgb(102, 13, 13);
    color: white;
    font-size: 15px;
    margin-left: 60px;
    width: 300px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}